@inherits LayoutComponentBase



    <div class="btn-group-vertical" style="width: 100%;">
        <a class="btn btn-outline-primary btn-block" href="enterProcedureData">Ingresar Datos Procedimiento </a>
        <a class="btn btn-outline-primary btn-block" href="monitorConnection">Conexión con Monitor</a>
        <a class="btn btn-outline-primary btn-block" href="hololensConnection">Conexión con Gafas</a>
        <a class="btn btn-outline-primary btn-block" href="beginProcedure">Iniciar Procedimiento</a>
        <a class="btn btn-outline-primary btn-block">Procedimiento en curso</a>
        <a class="btn btn-outline-primary btn-block">Guardar Procedimiento en curso</a>
    </div>



