@layout LoginLayout
@page "/aboutApplication"

<style>
    html, body {
        background-image: url("../img/login_background.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Quicksand', sans-serif;
    }
    .shape-button {
        display: table-cell;
        background: #ffffff;
        width: 36rem;
        height: 36rem;
        border-radius: 23% 77% 65% 35% / 30% 44% 56% 70%;
        margin: 0 auto;
        vertical-align: middle;
    }
    .center-screen{
        margin: auto;
        width: 50%;
        padding: 10px;
    }
</style>
@foreach (var dir in login_video_src) {
    <p>@dir</p>
}
<div class="row">
    <div class="shape-button center-screen">
        <center>
            <h1>Información de la aplicación</h1>
            <p>Awareness+ es una aplicación cuyo proposito principal es brindar un apoyo a los medicos residentes durante la ejecución de procedimientos médicos simulados. Esta aplicación se encarga de mostrar en tiempo real la información proveniente de un monitor de signos vitales con el fin de que el usuario no tenga que retirar la vista del paciente.</p>
        </center>
        <div class="d-flex flex-row bd-highlight">
            <a class="btn btn-outline-success btn-sm rounded-circle align-self-start p-2 bd-highlight btn-symmetric" href="">
                <span class="oi oi-chevron-left" style="font-size: 1.2rem" aria-hidden="true" data-toggle="tooltip"></span>
            </a>
            <div class="p-2 bd-highlight">Volver</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="shape-button center-screen">
        <center>
            <h1>Información de Salud</h1>
            <p>
                Advertencia: En su primer uso, las gafas pueden provocar mareo leve, nauseas, fatiga ocular, dolor de cabeza, ojos secos, entre otras.
                Se recomienta utilizar las gafas una o dos veces antes para acostumbrarse a los hologramas proyectados.
                Si no se tiene experiencia con las gafas HoloLens se recomienda iniciar el tutorial encontrado en el menu de aplicaciones de HoloLens llamado "".
                La tecnología de 3D estereoscópico requiere de una buena vision binocular. Para Operar las gafas se requiere una condicion fisica idonea para moverse e interacturar con la interfaz de usuario.
                Si el usuario tiene historial de epilepsia es recomendado no ser utilizado. Dado que la aplicación puede provocar ataques epilepticos fotosensibles
            </p>
        </center>
        <div class="d-flex flex-row bd-highlight">
            <a class="btn btn-outline-success btn-sm rounded-circle align-self-start p-2 bd-highlight btn-symmetric" href="">
                <span class="oi oi-chevron-left" style="font-size: 1.2rem" aria-hidden="true" data-toggle="tooltip"></span>
            </a>
            <div class="p-2 bd-highlight">Volver</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="shape-button center-screen">
        <center>
            <h1>Tutorial Iniciar Sesion </h1>
        </center>
        <div class="row">
            <video width="800" height="600" controls="controls">
                <base href="/" />
                <source src="Video/login.mp4" />
            </video>
        </div>
    </div>
</div>
<div class="row" style="padding-top: 100px;">
    <div class="shape-button center-screen">
        <center>
            <h1>Tutorial Registrarse</h1>
        </center>
        <div class="row">
            <video width="800" height="600" controls="controls">
                <source src="/Video/signup.mp4" />
            </video>
        </div>
    </div>
</div>

@code{
    private string[] login_video_src;

    protected override void OnInitialized()
    {
        login_video_src = System.IO.Directory.GetFiles("./");
    }
}