@page "/home"
<div class="d-flex align-items-center justify-content-center" style="height: 350px">
    <div class="card">
        <div class="card-body">
            <div class="row">
                
            </div>
            <div class="row">
                <div class="col-md-6 justify-content-center btn-symmetric-xl">
                    <a href="iniciarProcedimiento">
                        <button type="button" class="btn btn-outline-success rounded-circle">

                            <span class="oi oi-play-circle" aria-hidden="true" data-toggle="tooltip" title="Iniciar Procedimiento"></span>
                        </button>
                    </a>
                </div>
                
                <div class="col-md-6 justify-content-center btn-symmetric-xl">
                    <a href="verProcedimiento">
                        <button type="button" class="btn btn-outline-primary rounded-circle">
                            <span class="oi oi-eye" aria-hidden="true" data-toggle="tooltip" title="Ver Procedimientos"></span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
