@layout LoginLayout
@page "/xd"

    <center>
        <!--
        <div class="col-8 card">

        </div>-->
        <div>
            <a class="btn btn-outline-primary" href="" role="button">Iniciar Sesión</a>
        </div>
    </center>