@layout MainLayout
@page "/monitorConnection"

<style>

    .custom-border-button {
        display: table-cell;
        background: #1921ad;
        width: 28rem;
        height: 28rem;
        border-radius: 23% 77% 65% 35% / 30% 44% 56% 70%;
        margin: 0 auto;
        vertical-align: middle;
    }
    h1 {
        text-align: center;
        color: white;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-xl-5 my-auto">
            <div class="procedureSteps">
                <ProcedureSteps />
            </div>
        </div>
        <div class="col-xl-7 my-auto">
            @if (monitorStatus == "disconnected")
            {
                <div class="custom-border-button" @onclick="monitorConnection"><h1>Conectar Monitor</h1></div>
            }
            else if (monitorStatus == "connecting")
            {
                <img src="./img/loadingButton-unscreen.gif" class="img-fluid center" />
            }
            else if (monitorStatus == "connected")
            {
                <img src="./img/check.png" class="img-fluid center" />
                <br />
                <a class="btn btn-warning btn-lg btn-block" @onclick="disconnectMonitor">Desconectar Monitor</a>
            }
            else
            {
                <h2 style="text-align: center;"> ¿Seguro desea desconectar el monitor?</h2>
                <div class="d-flex justify-content-around bd-highlight">
                    <a class="btn btn-success p-2 bd-highlight" @onclick="confirmDisconnectMonitor"> Si</a>
                    <div class="btn btn-danger p-2 bd-highlight" @onclick="cancelDisconnectMonitor"> No</div>
                </div>
            }

        </div>
    </div>
</div>


@code {
    private string monitorStatus = "connected";
    private void monitorConnection()
    {
        monitorStatus = "connecting";

    }
    private void disconnectMonitor()
    {
        monitorStatus = "confirmDisconnect";

    }
    private void confirmDisconnectMonitor()
    {
        monitorStatus = "disconnected";

    }
    private void cancelDisconnectMonitor()
    {
        monitorStatus = "connected";

    }
}
