@layout MainLayout
@page "/updateProfileInformation"

<div class="container">
    <form>
        <div class="form-row">
            <div class="col-lg-6 form-group">
                <label class="d-flex justify-content-start" for="inputUser">Nombres</label>
                <input type="text" class="form-control" id="inputUser" aria-describedby="emailHelp" placeholder="Ingresa el usuario">
            </div>
            <div class="col-lg-6 form-group">
                <label class="d-flex justify-content-start" for="inputPassword">Apellidos</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-6 form-group">
                <label class="d-flex justify-content-start" for="inputUser">Edad</label>
                <input type="text" class="form-control" id="inputUser" aria-describedby="emailHelp" placeholder="Ingresa el usuario">
            </div>
            <div class="col-lg-6 form-group">
                <label class="d-flex justify-content-start" for="inputSemester">Semester</label>
                <input type="text" class="form-control" id="inputUser" aria-describedby="emailHelp" placeholder="Ingresa el semestre">
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-6 form-group">
                <label class="d-flex justify-content-start" for="inputUser">Username</label>
                <input type="text" class="form-control" id="inputUser" aria-describedby="emailHelp" placeholder=@username readonly>
            </div>
            <div class="col-md-6 dropdown show">
                <label class="d-flex justify-content-start" for="inputUser">Rotación</label>
                <div class="btn-group d-flex justify-content-start">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Seleccione la rotación
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">1</button>
                        <button class="dropdown-item" type="button">2 action</button>
                        <button class="dropdown-item" type="button">3 else here</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-6 form-group">
                <a class="btn btn-danger btn-lg btn-block" href="viewProfile">Cancelar</a>
            </div>
            <div class="col-lg-6 form-group">
                <a class="btn btn-success btn-lg btn-block" href="viewProfile">Guardar Cambios</a>
            </div>
        </div>
    </form>
</div>
@code {
    string username = "marlon_linares16";
}
