@page "/viewProcedures"
@inject HttpClient Http

<div class="container">
    <div class="row">
        <h1>Ver Procedimientos</h1>

        @if (forecasts == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Procedimiento</th>
                        <th>Fecha</th>
                        <th>Docente</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var forecast in forecasts)
                    {
                    <tr>
                        <td>@forecast.TemperatureC</td>
                        <td>@forecast.Date.ToShortDateString()</td>
                        <td>@forecast.TemperatureF</td>
                        <td>
                            <a class="btn btn-outline-success btn-sm rounded-circle align-self-start p-2 bd-highlight btn-symmetric" href="viewProcedureVideo">
                                <span class="oi oi-play-circle" aria-hidden="true" data-toggle="tooltip" title="Reproducir Video"></span>
                            </a>
                            <a class="btn btn-outline-danger btn-sm rounded-circle align-self-start p-2 bd-highlight btn-symmetric"  @onclick="testHoloLensConnection" href="home">
                                <span class="oi oi-trash" aria-hidden="true" data-toggle="tooltip" title="Eliminar Video"></span>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
    private void testHoloLensConnection()
    {

    }
}
