@layout MainLayout
@page "/beginProcedure"
@inject UserState UserState
@inject HttpClient HttpClient
<style>

    .shape-button {
        display: table-cell;
        background: #6368B0;
        width: 28rem;
        height: 28rem;
        border-radius: 23% 77% 65% 35% / 30% 44% 56% 70%;
        margin: 0 auto;
        vertical-align: middle;
    }

    .shape-button-invert {
        display: table-cell;
        background: #ffffff;
        width: 28rem;
        height: 28rem;
        border-radius: 23% 77% 65% 35% / 30% 44% 56% 70%;
        margin: 0 auto;
        vertical-align: middle;
        transform: rotateY(180deg);
    }

        .shape-button-invert:hover {
            background: #C2E0B1;
        }

    .xl-icon {
        transform: rotateY(180deg);
        vertical-align: middle;
        font-size: 10rem;
        color: #6368B0;
    }

    h1 {
        transform: rotateY(180deg);
        font-size: 2rem;
        color: #6368B0;
    }
</style>
<AuthorizeView>
    <Authorized>


        <div class="container">
            <div class="row">
                <div class="col-xl-5 my-auto">
                    <div class="procedureSteps">
                        <ProcedureSteps />
                    </div>
                </div>
                <div class="col-xl-7 my-auto">
                    @if (disabled == true)
                    {
                        <div class="shape-button">
                            <div class="shape-button-invert" @onclick="beginProcedureBtn">
                                <center>
                                    <span class="oi oi-media-play xl-icon" aria-hidden="true" data-toggle="tooltip" title="Iniciar "></span>
                                    <br />
                                    <h1>Iniciar Procedimiento</h1>
                                </center>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h2 style="text-align: center;">¿Está seguro?</h2>
                        <div class="d-flex justify-content-around bd-highlight">
                            <a class="btn btn-success p-2 bd-highlight" href="inProgressProcedure" @onclick="confirmBeginProcedure">Continuar</a>
                            <div class="btn btn-danger p-2 bd-highlight" @onclick="cancelBeginProcedure">Cancelar</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
@code {
    private bool disabled = true;
    private string errorMessage;
    HttpResponseMessage response_hololens;
    HttpResponseMessage response_monitor;

    private void beginProcedureBtn()
    {
        disabled = false;
    }
    private async void confirmBeginProcedure()
    {
        var url_hololens = "https://hololenscommunicationserviceawareness.azurewebsites.net/api/hololens-communication-service/set-procedure-data?IdProcedure=" + UserState.ProcedureId;
        var url_monitor = "http://10.195.23.82/AwarenessPlus/MonitorService/connect";
        response_hololens = await HttpClient.PostAsync(url_hololens, null);
        response_monitor = await HttpClient.GetAsync(url_monitor);

        if (!response_hololens.IsSuccessStatusCode) {
            errorMessage = response_hololens.ReasonPhrase;
            Console.WriteLine($"There was an error! {errorMessage}");
            return;
        }
        if (!response_monitor.IsSuccessStatusCode){
            errorMessage = response_monitor.ReasonPhrase;
            Console.WriteLine($"There was an error! {errorMessage}");
            return;
        }
    }

    private void cancelBeginProcedure()
    {
        disabled = true;
    }
    protected override Task OnInitializedAsync()
    {
        //Set active procedure step
        UserState.nextStepActive(4);

        return base.OnInitializedAsync();
    }

}
