@layout LoginLayout
@page  "/appInformation"

<style>
    html, body {
        background-image: url("../img/login_background.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Quicksand', sans-serif;
    }
</style>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <center>
                    <h1>Información de la aplicación</h1>
                    <p>Awareness+ es una aplicación cuyo proposito principal es brindar un apoyo a los medicos residentes durante la ejecución de procedimientos médicos simulados. Esta aplicación se encarga de mostrar en tiempo real la información proveniente de un monitor de signos vitales con el fin de que el usuario no tenga que retirar la vista del paciente.</p>
                </center>
                <div class="d-flex flex-row bd-highlight">
                    <a class="btn btn-outline-success btn-sm rounded-circle align-self-start p-2 bd-highlight btn-symmetric" href="">
                        <span class="oi oi-chevron-left" style="font-size: 1.2rem" aria-hidden="true" data-toggle="tooltip"></span>
                    </a>
                    <div class="p-2 bd-highlight">Volver</div>
                </div>
            </div>
        </div>
    </div>
</div>
    @code {

    }

