@layout LoginLayout
@page  "/viewTutorial"

<style>
    html, body {
        background-image: url("../img/login_background.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Quicksand', sans-serif;
    }
    video {
        width: 100%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <center>
                    <h1>Tutorial Iniciar Sesion </h1>
                </center>
                <div class="row">
                    <video controls="controls">
                        <source src="https://awareness-plus.000webhostapp.com/videos/login.mp4" />
                    </video>
                </div>
                <br/>
                <div class="d-flex flex-row bd-highlight">
                    <a class="btn btn-outline-success btn-sm rounded-circle align-self-start p-2 bd-highlight btn-symmetric" href="">
                        <span class="oi oi-chevron-left" style="font-size: 1.2rem" aria-hidden="true" data-toggle="tooltip"></span>
                    </a>
                    <div class="p-2 bd-highlight">Volver</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="padding-top: 100px;">
        <div class="card">
            <div class="card-body">
                <center>
                    <h1>Tutorial Registrarse</h1>
                </center>
                <div class="row">
                    <video controls="controls">
                        <source src="https://awareness-plus.000webhostapp.com/videos/signup.mp4" />
                    </video>
                </div>
                <br />
                <div class="d-flex flex-row bd-highlight">
                    <a class="btn btn-outline-success btn-sm rounded-circle align-self-start p-2 bd-highlight btn-symmetric" href="">
                        <span class="oi oi-chevron-left" style="font-size: 1.2rem" aria-hidden="true" data-toggle="tooltip"></span>
                    </a>
                    <div class="p-2 bd-highlight">Volver</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="padding-top: 100px;">
        <div class="card">
            <div class="card-body">
                <center>
                    <h1>Tutorial Iniciar Procedimiento</h1>
                </center>
                <div class="row">
                    <video controls="controls">
                        <source src="https://awareness-plus.000webhostapp.com/videos/tutorial_hololens.mp4" />
                    </video>
                </div>
                <br />
                <div class="d-flex flex-row bd-highlight">
                    <a class="btn btn-outline-success btn-sm rounded-circle align-self-start p-2 bd-highlight btn-symmetric" href="">
                        <span class="oi oi-chevron-left" style="font-size: 1.2rem" aria-hidden="true" data-toggle="tooltip"></span>
                    </a>
                    <div class="p-2 bd-highlight">Volver</div>
                </div>
            </div>
        </div>
    </div>
</div>
    @code {

    }
